In [10]:

import sqlite3

query="CREATE TABLE IF NOT EXISTS citas(\
    id INTEGER PRIMARY KEY AUTOINCREMENT,\
    nombrepaciente TEXT,\
    nombremedico TEXT,\
    especialidad TEXT,\
    box_asignado TEXT,\
    estado TEXT,\
    tiempo\
)"

conn = sqlite3.connect('mi_db.db')
# Crear un cursor para ejecutar comandos SQL
cursor = conn.cursor()
cursor.execute(query)
conn.commit()

# Cerrar la conexión a la base de datos
conn.close()

In [9]:
query= "drop table citas"
conn = sqlite3.connect('mi_db.db')
cursor = conn.cursor()

cursor.execute(query)
conn.commit()
conn.close()

In [29]:
query= "insert into citas (nombrepaciente, nombremedico, especialidad, box_asignado,estado) VALUES (?,?,?,?,?)"
conn = sqlite3.connect('mi_db.db')
cursor = conn.cursor()
paciente="Ana Sánchez"
medico="Dr. Gómez"
especialidad="Cardiología"
box_asignado=" C202"
estado="Visible"

cursor.execute(query, (paciente,medico,especialidad,box_asignado,estado))
conn.commit()
conn.close()

In [8]:
query= "UPDATE citas SET estado = 'esperando';"
conn = sqlite3.connect('mi_db.db')
cursor = conn.cursor()

cursor.execute(query)
conn.commit()
conn.close()

In [7]:
query= "SELECT * FROM citas"
conn = sqlite3.connect('mi_db.db')
cursor = conn.cursor()

cursor.execute(query)
lista=cursor.fetchall()
for paciente in lista:
    print(paciente)
conn.close()

(1, 'Maria de las ', 'Dr Fernando de la Rua', 'Pediatría', 'PE02', None)
(2, 'Sabrine Souza', 'Dr Fernando de la Rua', 'Ginecología', 'GI01', 'Visible')
(5, 'Juan Pérez', 'Dra. Rodríguez', 'Pediatría', 'P101', 'Visible')
(6, 'Ana Sánchez', 'Dr. Gómez', 'Dermatología', 'DE02', 'Visible')
(10, 'Suca', 'Dr freeman', 'Cardiología', 'CA05', None)
(11, 'Suca', 'Dr freeman', 'Cardiología', 'CA05', None)
(15, 'Facundo Farias', 'Dr Fernando de la Rua', 'Cardiología', 'CA03', None)
(34, 'Maria de las nieves', 'Dr Fernando de la Rua', 'Ortopedia', 'OR03', None)
(35, 'Sabrine Souza', 'Dr Fernando de la Rua', 'Dermatología', 'DE06', None)
(36, 'Maria de las nieves', 'Dr Fernando de la Rua', 'Cardiología', 'CA01', None)

In [1]:
import sqlite3

query="CREATE TABLE IF NOT EXISTS boxes(\
    id INTEGER PRIMARY KEY AUTOINCREMENT,\
    box TEXT,\
    especialidad TEXT\
)"

conn = sqlite3.connect('mi_db.db')
# Crear un cursor para ejecutar comandos SQL
cursor = conn.cursor()
cursor.execute(query)
conn.commit()

# Cerrar la conexión a la base de datos
conn.close()

In [52]:
query= "insert into boxes (box,especialidad) VALUES (?,?)"
conn = sqlite3.connect('mi_db.db')
cursor = conn.cursor()
especialidad="Psiquiatría"
box_name="PS05"

cursor.execute(query, (box_name,especialidad,))
conn.commit()
conn.close()

In [53]:
query= "SELECT * FROM boxes"
conn = sqlite3.connect('mi_db.db')
cursor = conn.cursor()

cursor.execute(query)
lista=cursor.fetchall()
for paciente in lista:
    print(paciente)
conn.close()

(1, 'PE01', 'Pediatría')
(2, 'PE02', 'Pediatría')
(3, 'PE03', 'Pediatría')
(4, 'PE04', 'Pediatría')
(5, 'PE05', 'Pediatría')
(6, 'PE06', 'Pediatría')
(7, 'PE07', 'Pediatría')
(8, 'PE08', 'Pediatría')
(9, 'CA01', 'Cardiología')
(10, 'CA02', 'Cardiología')
(11, 'CA03', 'Cardiología')
(12, 'CA04', 'Cardiología')
(13, 'CA05', 'Cardiología')
(14, 'CA05', 'Cardiología')
(15, 'CA06', 'Cardiología')
(16, 'CA07', 'Cardiología')
(17, 'CA08', 'Cardiología')
(18, 'CA09', 'Cardiología')
(19, 'CA10', 'Cardiología')
(20, 'GI01', 'Ginecología')
(21, 'GI02', 'Ginecología')
(22, 'GI03', 'Ginecología')
(23, 'GI04', 'Ginecología')
(24, 'GI05', 'Ginecología')
(25, 'GI06', 'Ginecología')
(26, 'DE01', 'Dermatología')
(27, 'DE02', 'Dermatología')
(28, 'DE03', 'Dermatología')
(29, 'DE04', 'Dermatología')
(30, 'DE05', 'Dermatología')
(31, 'DE06', 'Dermatología')
(32, 'DE07', 'Dermatología')
(33, 'DE08', 'Dermatología')
(34, 'OF01', 'Oftalmología')
(35, 'OF02', 'Oftalmología')
(36, 'OF03', 'Oftalmología')
(37, 'OF04', 'Oftalmología')
(38, 'OF05', 'Oftalmología')
(39, 'OF06', 'Oftalmología')
(40, 'OF07', 'Oftalmología')
(41, 'OR01', 'Ortopedia')
(42, 'OR02', 'Ortopedia')
(43, 'OR03', 'Ortopedia')
(44, 'OR04', 'Ortopedia')
(45, 'NE01', 'Neurología')
(46, 'NE02', 'Neurología')
(47, 'PS01', 'Psiquiatría')
(48, 'PS02', 'Psiquiatría')
(49, 'PS03', 'Psiquiatría')
(50, 'PS04', 'Psiquiatría')
(51, 'PS05', 'Psiquiatría')

In [11]:
import sqlite3

# Conecta a la base de datos
conn = sqlite3.connect('apps/db.sqlite3')  # Reemplaza 'tu_basededatos.db' con el nombre de tu base de datos

# Crea un cursor
cursor = conn.cursor()

# Ejecuta una consulta SELECT
cursor.execute("SELECT * FROM Users")

# Recupera los resultados
resultados = cursor.fetchall()

# Cierra la conexión a la base de datos
conn.close()

# Muestra los resultados
for fila in resultados:
    print(fila)

(1, 'Medico1', 'Medico', 'CA01', 'Cardiología', 'fer@delarua.com', b'c35af013c99707031c1d93ad4c0d5472b1839c8a077582c7380c3cf640443b26818e2e33c434d59511bdea358750231cfec9bbe1b0e8c316cc9a81dd4315167209b0b978f7d62e0df50509a7f310201c06faae8fdd98f985881203c895c3b4ac', None, 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1c2VyX2lkIjoxLCJpbml0X2RhdGUiOjE2OTc0Nzk4OTV9.u5_yK2URj65lG-Uda4GzyuUQtE1v7G7CQGvQudXpw1I', 1697479895)
(2, 'FacuFarias', 'Administrador', None, None, 'facufarias93@gmail.com', b'cf2658380b6f72cd8b81f0829133aeaf3588e90fdba87712e063e8e78ca96c9e9d6726c813a2f383d3cb5d8dfc09b1326a930620ef29aaa01534bcef4436a8eb2551dfa64e8f41bb2456d7a89ab0e2d91008e8b2a67b72ad46a627c36e0eb740', None, 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1c2VyX2lkIjoyLCJpbml0X2RhdGUiOjE2OTc0Nzk4ODl9.Vy7Na1HR9jPNKlOYKE3OXbZ6_XO_t4mUYnTLaRVwzT4', 1697479889)

In [3]:
import sqlite3

conn = sqlite3.connect('mi_db.db')
cursor = conn.cursor()

# Ejecutar una consulta SQL para obtener los datos de la tabla
cursor.execute('SELECT * FROM citas ORDER BY id')
data = cursor.fetchall()
list_of_turns = []
for dato in data:
    list_of_turns.append(dato)

print(list_of_turns)

[(3, 'Facundo Farias', 'Dr freeman', 'Cardiología', 'CA01', 'Llamado'), (4, 'Suca', 'Dr. Gómez', 'Pediatría', 'PE03', 'Llamado'), (5, 'Maria de las nieves', 'Dr Fernando de la Rua', 'Ginecología', 'GI02', 'Llamado'), (6, '1', '1', 'Cardiología', 'CA05', 'Llamado'), (7, 'Franco', 'Dr Milton', 'Psiquiatría', 'PS02', 'Llamado'), (8, 'Maria de las nieves', 'Dr freeman', 'Pediatría', 'PE01', 'Llamado'), (9, 'Suca', 'Dr Fernando de la Rua', 'Pediatría', 'PE06', 'Llamado'), (14, 'Sabrine Souza', 'Dr Fernando de la Rua', 'Pediatría', 'PE02', 'Llamado')]